#container {
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 50px;
}

#container strong {
  font-size: 15px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#input-field {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  border-style: solid;
  border-width: 3px;
}

#save-button {
  margin-top: 40px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  color: black;
}

#save-button:hover {
  margin-top: 40px;
  border-color: black;
  // border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  background-color: black;
  color: white;
}